.main-footer{
	@extend .cf;
	background-color: #D6DADE;
	text-align: center;
}
.footer-social,
.footer-legal{
	margin: 5px 0;
}
.footer-legal{
	@include adjust-font-size-to(13px);
	float: none;
}

.footer-social{
	font-size: em(26);
	float: none;
}

@each $var in $social-colors {
	$social: nth($var, 1);
	$color: nth($var, 2);
	.icon-#{$social} {
		&:hover{
			color: $color;
		}
	}
}

@media #{$medium}{
	.main-footer{
		text-align: left;
	}
	.footer-social{
		float: right;
	}
}