.login-area{
	display: block;
	@media #{$medium} {
		display: table;
	}
	& > *{
		display: block;
		vertical-align: middle;
		margin-bottom: $half-spacing-unit;
		@media #{$medium} {
			display: table-cell;
		}
	}
}

.login-area-or{
	display: none;
	text-align: center;
	@media #{$medium} {
		display: table-cell;
	}
}

.login-forget-password{
	font-size: 13px;
	color: #FD5737;
	text-decoration: none;
}