.mobile-sidebar-button{
	@include transition(all 0.2s ease-out);
	//background: #000;
	//background: rgba(0,0,0,0.9);
	font-size: 10px;
	width: auto;
	height: auto;
	padding: em(16, 10) em(8, 10);
	display: inline-block;
	span{
		position: relative;
		display: block;
		&:before,
		&:after,
		&{
			@include transition(all 0.2s ease-out);
			background-color: #fff;
			height: em(4, 10);
			width: em(25, 10);
			border-radius: 3px;
		}
		&:before,
		&:after{
			position: absolute;
			margin-top: -.8em;
			left: 0;
			content: " ";
		}
		&:after{
			margin-top: .8em;
		}
	}
	//&.is-active{
	//	span{
	//		background: transparent;
	//		&:after{
	//			@include transform(rotate(45deg) translate(em(-4, 10), em(-5, 10)));
	//		}
	//		&:before{
	//			@include transform(rotate(-45deg) translate(em(-4, 10), em(4, 10)));
	//		}
	//	}
	//}
}