.text-center{text-align: center;}
.text-left{text-align: left;}
.text-rigth{text-align: right;}
.uppercase{text-transform: uppercase;}
.underline{text-decoration: underline;}
.primary-color{color: $color-primary;}
.semi{font-weight: $semi-weight;}
.valign-middle{vertical-align: middle;}
@mixin color-mix($bg, $fg) {
	background-color: $bg;
	color: $fg;
}